p {
    margin: 0px;
}
body {
    margin: 0 !important;
}
.wrapper {
    height: 100vh;
    /*background-image: url(assets/background.png);*/
    background-color: #868383;
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
}
.h100 {
    height: 100vh;
}
.vh-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_div {
    background-color: rgb(0, 0, 0, 0.8);
    padding: 44px 63px;
    border-radius: 37px;
    width: 83%;
}
.welcome {
    font-size: 21px;
    margin: 0;
    font-weight: bold;
    color: white;
    margin-bottom: 23px;
    letter-spacing: 1;
}
.write-name {
    margin-bottom: 6px;
    color: white;
}
.name {
    padding: 0px 16px;
    margin-bottom: 16px;
    border-radius: 24px;
    height: 47px;
}
.select select {
    border-radius: 30px;
    margin-bottom: 13px;
    padding: 0px 16px;
    height: 46px;
}
.add-check {
    text-align: center;
    background-color: red;
    border: navajowhite;
    color: white;
    width: 70%;
    padding: 0px 8px;
    border-radius: 47px;
    font-weight: lighter;
}
.m-v {
    margin: 15px 10px;
}
.DownloadMaterial {
    border: navajowhite;
    border-radius: 50%;
    padding: 21px;
    background: #f6921e;

}
a.DownloadMaterial{
    display: block;
    width: 115px;
    height: 115px;
    margin: auto;
}
.downloadMaterial-text {
    text-align: center;
    color: white;
}
.DownloadMaterial i {
    color: white;
    font-size: 63px;
}
.pt-44 {
    padding-top: 88px;
}
.form-control::placeholder {
    color: gray;
}

.thankyou-div {
    background-color: rgb(0, 0, 0, 0.8);
    padding: 44px 63px;
    border-radius: 37px;
    width: 83%;
    height: 91%;
}
.nonedisplay {
    display: none;
}
.fa-thumbs-up {
    color: white;
    font-size: 109px;
    text-align: center;
}
.thank {
    color: white;
    text-align: center;
    margin: 19px 20px 0px 19px;
    font-weight: bold;
    font-size: 27px;
}
.downloading {
    text-align: center;
    color: white;
    font-size: 15px;
    margin: 21px 0px;
}
.start-again {
    text-align: center;
    color: white;
    margin: 28px 15px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .form_div {
        width: 100%;
    }
    .thankyou-div {
        width: 100%;
    }
    .name {
        height: 30px;
    }
    select .select {
        height: 30px;
    }
    .welcome {
        font-size: 14px;
    }
    .DownloadMaterial i {
        font-size: 36px;
    }
    .fa-thumbs-up {
        color: white;
        font-size: 57px;
        text-align: center;
    }
    .downloading {
        text-align: center;
        color: white;
        font-size: 15px;
        margin: 21px 0px;
    }
}
@media only screen and (max-width: 763px) {
    .DownloadMaterial i {
        color: white;
        font-size: 38px;
    }
    .thankyou-div {
        background-color: rgb(0, 0, 0, 0.8);
        padding: 44px 0px;
        border-radius: 37px;
        width: 83%;
        height: 91%;
    }
}
@media only screen and (max-width: 388px) {
    .DownloadMaterial i {
        color: white;
        font-size: 38px;
    }
    .fa-thumbs-up {
        color: white;
        font-size: 61px;
        text-align: center;
    }
    .thank {
        color: white;
        text-align: center;
        margin: 19px 20px 0px 19px;
        font-weight: bold;
        font-size: 26px;
    }
    .thankyou-div {
        background-color: rgb(0, 0, 0, 0.8);
        padding: 44px 0px;
        border-radius: 37px;
        width: 83%;
        height: 91%;
    }
}
@media only screen and (max-width: 1024px) {
    .fa-thumbs-up {
        color: white;
        font-size: 88px;
        text-align: center;
    }
    .thankyou-div{
        padding: 20px 63px;
    }
}


@media screen and (max-width:320px) {
    .form_div {
        background-color: rgb(0, 0, 0, 0.8);
        padding: 43px 16px;
        border-radius: 37px;
        width: 83%;
    }

    .name {
        padding: 0px 16px;
        margin-bottom: 16px;
        border-radius: 24px;
        height: 30px;
    }
    .select select{
        height: 30px;
    }
}
@media screen and (max-width:520px) {
    .welcome {
        font-size: 19px;
        margin: 0;
        font-weight: bold;
        color: white;
        margin-bottom: 23px;
        letter-spacing: 1;
    }
}
@media screen and (max-width:425px) {
    .form_div{
        padding: 44px 16px;
    }
    .welcome{
        font-size: 15px;
    }

}
